<div class="container" [@appearAnimation]="animationState">
  <h1 class="text-center card bg-light">Chá de bebê do Liam!</h1>
  <div class="m-3">
    <form (ngSubmit)="submitForm()" class="row" *ngIf="!formSubmitted">
      <p class="text-center">Queridos familiares e amigos, convidamos vocês para celebrarem a chegada do nosso pequenino! Favor confirmar a presença:
      </p>
      <div class="form-group col-6">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" [(ngModel)]="guestName" class="form-control" required>
      </div>

      <div class="form-group col-6">

        <label for="name">Presença:</label>
        <select id="attendance" name="attendance" [(ngModel)]="attendance" class="form-select" required>
          <option selected value="yes">Sim</option>
          <option value="no">Não</option>
          <option value="maybe">Talvez</option>
        </select>
      </div>
      <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary">Confirmar</button>
      </div>
    </form>
  </div>
</div>
