<form [formGroup]="form" (ngSubmit)="submitForm()" class="container" *ngIf="!formSubmitted">
  <p class="text-center">Queridos familiares e amigos, convidamos vocês para celebrarem a chegada do nosso pequenino! Favor confirmar a presença:</p>

  <div class="form-group col-12">
    <label for="name">Nome:</label>
    <input type="text" id="name" formControlName="name" class="form-control">
    <p *ngIf="name.invalid" class="text-danger">Campo obrigatório</p>
  </div>

  <div class="form-group col-3">
    <label for="attendance">Presença:</label>
    <select id="attendance" formControlName="attendance" class="form-select">
      <option value="yes">Sim</option>
      <option value="no">Não</option>
      <option value="maybe">Talvez</option>
    </select>
    <p *ngIf="attendance.invalid" class="text-danger">Campo obrigatório</p>
  </div>

  <div class="col-12 mt-3">
    <button type="submit" class="btn btn-primary">Confirmar</button>
  </div>
</form>
